.painel{
    width: 100%;
    height: auto;
    display: grid;
}

.painelAlto{
    display: flex;
    width: 95%;
    margin-top: 2%;
    margin-left: 2.5%;
    gap: 1%;
    height: 50vh;
}

.ultimoJogo{
    width: 60%;
    height: 100%;
    background-color: #272727;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagemUltimoJogo{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagemUltimoJogo div {
    width: 95%;
    height: 95%;
    border-radius: 12px;
    padding: 10px;  
}

.contextoUltimoJogo{
    width: 45%;
    padding-right: 10px;
    padding-top: 10px;
    display: grid;
    grid-template-rows: 10% 37% 37% 15% ;
    place-items: center;
    height: 100%;
    /* justify-content: ; */
}

.contextoUltimoJogo p{
    font-size: 1;
    color: #A69AF4;
    font-weight: 800;
}

.contextoUltimoJogo .titleUltimoJogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.contextoUltimoJogo .titleUltimoJogo h1{
    color: #b4b4b4;
    font-weight: 900;
    font-size: 2rem;
    text-transform: capitalize;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.contextoUltimoJogo .titleUltimoJogo span{
    color: #7A7A7A;
    margin-top: .25rem;
    font-size: 1.25rem;
    font-style: italic;
}

.amigosUltimoJogo{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.botaoUltimoJogo{
    color: #83ED94;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    padding: 1rem;
    letter-spacing: -0.0375rem;
    border-radius: 0.5rem;
    background: #155E2A;
    border: none;
    cursor: pointer;
    transition: all .4s ease;
}

.botaoUltimoJogo:hover{
    color: #155E2A;
    background: #83ED94;
}

.proximaJogatina{
    /* background: linear-gradient(#00000000, #3E2CAF), url('../../assets/eu.jpeg'); */
    width: 39%;
    border-radius: 13px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 10px;
    transition: all .4s ease;

    position: relative;
}
.proximaJogatina:hover{
    cursor: pointer;
    scale: 95%;
}

.proximaJogatina h2{
    color: #DBD9E9;
    font-size: 1.625rem;
    font-style: italic;
    font-weight: 700;
    letter-spacing: -0.04063rem;
}

.proximaJogatina h1{
    color: #E58D3B;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 900;
    padding-bottom: 10px;
    letter-spacing: -0.07031rem;
}

.proximaJogatina p{
    color: #B8B0EB;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 10px;
}



.proximaJogatina .amigosProximaJogatina{
    padding-bottom: 10px;
}

.painelBaixo{
    display: flex;
    width: 95%;
    margin-top: 1%;
    margin-left: 2.5%;
    gap: 1%;
    height: 80vh;
}

.listaAmigosPainel{
    width: 30%;
    background-color: #272727;
    border-radius: 12px;

    
}

.friendsCollection{
    width: 100%;
    height: 87%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.listaAmigosPainel .titleFriendsList{
    color: #dfdddb ;
    font-size: 1.5rem;
    padding: 20px;
}

.listaAmigosPainel .friendsUserBox{
    width: 100%;
    font-size: 0.8rem;
}

.iniciarPainel{
    width: 70%;
    background-color: #272727;
    border-radius: 12px;

    display: grid;
    grid-template-rows: 85% 15%;
}

.bannerIniciarPainel{
    width: 100%;
    padding: 10px 10px 0 10px;
}

.bannerIniciarPainel img{
    width: 100%;
    height: 100%;
}

.boxButtonAgendar{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.buttonAgendar{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: #472D14;
    color: #E58D3B;
    font-size: 1.625rem;
    font-weight: 800;
    transition: all .4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonAgendar:hover{
    background-color: #E58D3B;
    color: #472D14;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .painel{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .painelAlto{
        display: flex;
        flex-direction: column;
        width: 95%;
        margin-top: 2%;
        margin-left: 2.5%;
        gap: 1%;
        height: 100vh;
    }

    .ultimoJogo{
        width: 100%;
        height: 100%;
    }
    
    .botaoUltimoJogo{
        margin-bottom: 2%;
    }

    .proximaJogatina{
        width: 100%;
    }


    .painelBaixo{
        display: flex;
        flex-direction: column-reverse;
        width: 95%;
        gap: 1%;
        height: auto;
    }

    .iniciarPainel{
        width: 100%;
        margin-bottom: 2%;
        height: auto;
    }

    .buttonAgendar{
        font-size: 1.2rem;
        padding: 15px;
    }

    .listaAmigosPainel{
        width: 100%;
        height: 80vh;
    }
    
    .listaAmigosPainel .friendsUserBox{
        width: 100%;
        font-size: 1rem;
        
    }
}