.ContactCard{
    background-color: #323232;
    display: flex;
    align-items: center;
    height: 5rem;
    padding: .5rem;
    border-radius: 5px;
    box-shadow: 6px 10px 250px 0px rgba(255, 255, 255, 0.06);
}

.iconeContactCard{
    width: 6rem;
    height: 4rem;
    border-radius: 5px;
    background: linear-gradient(20deg, #bc6b1e 0%, #5945d7 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.bodyContactCard{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.bodyContactCard h4{
    color: #b6b6b6;
    font-size: 1.2rem;
    background: linear-gradient(360deg, #E58D3B 0%, #6955E4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bodyContactCard p{
    color: #8a8a8a;
    font-size: .8rem;
}
