
.addAmigosContainer{
    width: 24%;
    min-width: 250px;
    max-width: 370px;
    height: 400px;
    background-color: #272727;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 15px;
    border-radius: 10px;
    margin: 10px 0;
    flex-grow: 1;
}

.containerImagemAmigos{
    width: 80%;
    height: 60%;
    display: flex;
    align-items: center;
}

.addAmigosContainer img{
    width: 100%;
    height: 100%;
    border-radius: 13px;
    object-fit: cover;
}

.addAmigosContainer h1{
    color: #e9e7f6;
    font-size: 1.2rem;
}

.addAmigosContainer button{
    padding: 10px 15px;
    color: #74d685;
    background-color: #157826;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all .4s ease;
}

.addAmigosContainer button:hover{
    background-color: #74d685;
    color: #157826;
}

.ChooseAdd{
    display: flex;
    gap: 10px;
    width: 50%;
}

.ChooseAdd button:first-child{
    background-color: rgb(60, 38, 38);
    color: #d47d7d;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ChooseAdd button:first-child:hover{
    color: rgb(60, 38, 38);
    background-color: #d47d7d;
}

.ChooseAdd button:last-child{
    background-color: #80db36;
    color: #1c4e24;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ChooseAdd button:last-child:hover{
    color: #80db36;
    background-color: #1c4e24;
}