.caixaEntrar{
    display: flex;
    width: 100%;
    height: 100vh;
}

.caixaImagem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.caixaImagem img{
    width: 68%;
    height: 90%;
}

.caixaForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.entrar{
    width: 100%;
    margin-top: 4rem;
    padding: 1rem;
    font-size: 1.5rem;
    outline: none;
    border: none;
    background-color: #6955E4;
    color: #CFC7FF;
    border-radius: 5px;
    transition: all .4s ease;
    cursor: pointer;
}

.entrar:hover{
    background-color: #CFC7FF;
    color: #6955E4;
}   

.cadastro{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
    outline: none;
    border: none;
    background-color: #37220E;
    color: #E58D3B;
    border-radius: 5px;
    transition: all .4s ease;
    cursor: pointer;
    text-align: center;
}

.cadastro:hover{
    background-color: #E58D3B;
    color: #37220E;
}

@media (250px <= width <= 1050px) {
    .caixaImagem{
        display: none;
    }

    .caixaForm{
        width: 80%;
        margin-left: 10%;
    }
}