.FriendRequest{
    max-width: 23%;
    height: 55vh;
    background-color: #272727;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    padding: 10px;
    flex-grow: 1;
}


.nameFriendR{
    font-size: 1rem;
    color: white;
    font-weight: 600;
    word-wrap: break-word;
    text-align: center;
}

.nameFriendR p{
    color: #E58D3B;
    font-size: .8rem;
}

.buttonsFriendR{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.photoFriendR {
    width: 100%;
    height: 60%;
}

.photoFriendR img{
    width: 100%;
    height: 100%;
    border-radius: 13px;
    object-fit: cover;
}

 .buttonsFriendR button:first-child{
    background-color: #499d4d;
    color: white;
    font-size: 1.5rem;
    height: 5vh;
    width: 30%;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: all .4s ease;
    cursor: pointer;
}

.buttonsFriendR button:first-child:hover{
    background-color: #1a571d;
}


 .buttonsFriendR button:last-child{
    background-color: #9d4949;
    color: white;
    font-size: 1.5rem;
    height: 5vh;
    outline: none;
    border: none;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: all .4s ease;
    cursor: pointer;
}


.buttonsFriendR button:last-child:hover{
    background-color: #831a1a;
}