.AmigosPage{
    width: 90%;
    margin-top: 2%;
    gap: 20px;
    margin-left: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.AmigosPage h1{
    color: white;
    font-weight: 800;
    font-size: 2rem;
    margin-left: 10%;
}


.AmigosListaTotal{
    width: 80%;
    margin-left: 10%;
    gap: 20px;
    margin-top: 2%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


@media (max-width: 1300px) {
    .AmigosListaTotal{
        width: 100%;
        margin-left: 5%;
    }
}