
.caixaCadastro h1{
    font-size: 3rem;
    color: white;
    padding: 1rem;
    margin-top: 3rem;
}

.caixaCadastro{
    height: 100vh;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cadastro{
    width: 100%;
    margin-top: 4rem;
    padding: 1rem;
    font-size: 1.5rem;
    outline: none;
    border: none;
    background-color: #6955E4;
    color: #CFC7FF;
    border-radius: 5px;
    transition: all .4s ease;
    cursor: pointer;
}

.cadastro:hover{
    background-color: #CFC7FF;
    color: #6955E4;
}   



.entrar{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
    outline: none;
    border: none;
    background-color: #37220E;
    color: #E58D3B;
    border-radius: 5px;
    transition: all .4s ease;
    cursor: pointer;
    text-align: center;
}

.entrar:hover{
    background-color: #E58D3B;
    color: #37220E;
}


.passwordGrid{
    width: 100%;
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    gap: 5%;
}



@media (250px <= width <= 850px) {
    .caixaCadastro{
        height: 150vh;
    }

    .passwordGrid{
        display: flex;
        flex-direction: column;
    }
}