a{
    text-decoration: none;
    color: #D6D6D6;
}

.logoImagem {
    width: 3rem;
    height: 3rem;
}

.logoTexto {
    width: 9rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.logo img:first-child{
    margin-right: 1rem;
}

.menu{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.85rem;
    letter-spacing: -2.5%;
}

.menu a{
    padding: 0px 20px;
    transition: all .4s ease;
}

.menu a:hover{
    color: #bdb8ea;
}


.entrar{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    font-size: 1.25rem;
    letter-spacing: -2.5%;
    font-weight: bold;
}

.entrar{
    color: #E58D3B;
}

.entrar a{
    color: #E58D3B;
}

.active{
    color: #e6a86f;
    font-weight: 700;
}

@media screen and (max-width: 850px) {

        
    .logoImagem {
        width: 1.5rem;
        height: 1.5rem;
    }

    .logoTexto {
        width: 5rem;
    }

    .logo{
        margin-left: 0;
    }
    
    .logo img:first-child{
        margin-right: .5rem;
    }


    .menu{
        font-size: 1.5rem;
        width: 50%;
    }

    .entrar{
        margin-right: 0.5rem;
        font-size: .8rem;
        letter-spacing: -2.5%;
    }
}