.friendBox{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 15vh;

    padding: 10px;
    border-radius: 8px;
    transition: all .4s ease;
}

.friendBox:hover{
    background-color: #3d3d3d;
    scale: 95%;
}

.friendBox .avatarFriendBox{
    height: 60px;
    width: 60px;
    margin-right: 10%;
}

.friendBox .nomeFriendBox{
    display: flex;
    align-items: center;
    width: 70%;
}

.friendBox .nomeFriendBox h2{
    color: #C3B6AA;
}


.friendBox .avatarFriendBox img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
