.label{
    color: #B5ABF2;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.input{
    padding: 1rem;
    font-size: 1.25rem;
    outline: none;
    border-radius: 7px;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}