.principal{
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    
    margin-bottom: 5rem;
}

.conteudoTexto{
    width: 100%;
    display: grid;
    grid-template-rows: 70% 10%;
    padding-left: 10%;
    gap: 20px;
}

.textoPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
}

.textoPrincipal p{
    font-weight: 700;
    color: #6955E4;
    letter-spacing: -0.5px;
}

.textoPrincipal h1{
    margin-top: -10px;
    font-size: 7rem;
    font-weight: 600;
    letter-spacing: -4px;
    color: #D6D6D6;
}

.conteudoImagem img{
    width: 100%;
}

.buttonHome{
    width: 40%;
    border: none;
    border-radius: 6px;
    background: linear-gradient(143deg, #E58D3B 0%, #6955E4 100%);
    font-size: 1.55rem;
    letter-spacing: -0.6px;
    font-weight: 700;
    color: #D6D6D6;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    width: 100%;
    padding-top: 3rem;
    margin-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2.5%;
    padding-right: 2.5%;
    display: grid;
    grid-template-columns: 32.5% 32.5% 32.5%;
    gap: 1%;
}

.subtitulo{
    text-align: center;
    color: #D6D6D6;
    font-weight: bold;
    font-size: 3rem;
    margin-top: 5rem;
}

.banner{
    width: 100%;
}

.banner img{
    width: 100%;
}





@media screen and (max-width: 1200px) {
    .textoPrincipal h1{
        font-size: 6rem;
        font-weight: 600;
        letter-spacing: -4px;
        color: #D6D6D6;
    }
}

@media screen and (max-width: 1000px) {
    .textoPrincipal h1{
        font-size: 5rem;
        font-weight: 600;
        letter-spacing: -4px;
        color: #D6D6D6;
    }

    .buttonHome{
        width: 70%;
    }
}

@media screen and (max-width: 850px) {
    .textoPrincipal h1{
        font-size: 4rem;
        font-weight: 600;
        letter-spacing: -4px;
        color: #D6D6D6;
    }

    .buttonHome{
        width: 70%;
    }
}

@media screen and (max-width: 690px) {
    .principal{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .textoPrincipal h1{
        font-size: 2.8rem;
        font-weight: 800;
        color: #D6D6D6;
        letter-spacing: -2px;
        text-align: center;
        width: 70%;
        padding: 2%;
        line-height: 40px;
    }

    .textoPrincipal{
        display: flex;
        align-items: center;
    }

    .textoPrincipal p{
        padding: 5%;
        text-align: center;
        font-weight: 700;
        color: #6955E4;
        letter-spacing: 0px;
        font-size: .725rem;
    }

    .buttonHome{
        width: 80%;
        height: 7vh;
        font-size: 2rem;
    }

    .conteudoTexto {
        padding-left: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .conteudoImagem{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
    }

    .conteudoImagem img{
        
        margin-top: 2rem;
        width: 90%;
    }
    
    .subtitulo{
        font-size: 2rem;
    }

    .cards{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        width: 90%;
        gap: 2rem;
        padding: 0;
        margin-left: 5%;
    }
}
